@media (max-width: 1024px) {
    /* Tablet view adjustments */
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding:0;
      width: 100vw;
      /* height: 100vh; */
    }
    .heading{
        font-size: 5vw;
        padding: 0;
        margin: 0%;
        display: inline;
        left: 0;
        position: relative;
    }
  
  }
  
  @media (max-width: 768px) {
    /* Mobile view adjustments */
  
    
  }